* { 
    margin: 0;
    padding: 0;
    border: 0; 
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

#contenedorcenter1 {
    height: 44em;
    width: 32em;
    display: flex;
    position: relative;
     /* background-color: rgb(182, 255, 194); */
} 

#contenedorcenter2{
    height: 44em;
    width: 32em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(8, 64, 17); */
}

#contenedorcenter3 {
    height: 44em;
    width: 32em; 
    display: flex;
    position: relative;
    /* background-color: rgb(211, 129, 14); */
} 

#tamagotchibodydark {
    height: 31em;
    width: 28em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 64% / 70% 70% 52% 52%;
    background-color: #bc41d0;
    background-image: linear-gradient(153deg, #bc41d0 2%, #8b21a1 20%, #591567 100%);
    box-shadow: inset -1px 3px 8px 5px #591567, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.26);
    border: 0.3em solid black;
    z-index: 2;
}

#tamagotchibodylight {
    height:30em;
    width:27em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 64% / 70% 70% 52% 52%;
    background-color: #ca73ca;
    background-image: linear-gradient(302deg, #ca73ca 0%, #dc97e1 50%, #fccefa 80%); 
}

#contenedorear {
    height:8em;
    width: 32em;
    /* background-color:aqua; */
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    margin-bottom: 20em;
    z-index: 1;
}

#leftear {
    height: 7.5em;
    width: 7.8em;
    border-radius:  54% / 43% 50% 50% 50%;
    background-color:  rgb(157, 42, 185);
    box-shadow: inset -1px 3px 8px 5px #591567, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.26);
    display: flex;
    position: relative;
    margin-bottom: 5.8em;
    border: 0.3em solid black;
}
   
.blankspace {
    height: 8em;
    width: 10em;
    /* background-color:rgb(51, 42, 185); */
    display: flex;
}

#rightear {
    height: 7.5em;
    width: 7.8em;
    border-radius: 54% / 50% 43% 50% 50%;
    background-color:  rgb(157, 42, 185);
    box-shadow: inset -1px 3px 8px 5px #591567, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.26);
    display: flex;
    position: relative;
    margin-bottom: 5.8em;
    border: 0.3em solid black;
    }

#contenedorsup2 {
    height:8em;
    width: 32em;
    /* background-color:rgb(235, 20, 196); */
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 36em;
    z-index: 3;
} 

#rightearlight {
    height: 7em;
    width: 7.2em;
    border-radius:   64% / 50% 50% 50% 50%;
    /* background-color: #ca73ca; */
    background-color: #ca73ca;
    background-image: linear-gradient(10deg, #ca73ca 0%, #dc97e1 11%, #fccefa 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.6em;
    margin-left: 1em;
    z-index: 4;
}
     
#leftearlight {
    height: 7em;
    width: 7.2em;
    border-radius:   64% / 50% 50% 50% 50%;
    /* background-color:  rgb(220, 137, 243); */
    background-color: #ca73ca;
    background-image: linear-gradient(125deg, #ca73ca 10%, #dc97e1 21%, #fccefa 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.6em;
    z-index: 4;
}

#pantalla1 {
    height: 14em;
    width: 19em;
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 35%;
    background-color: #8EC5FC;
    background-color: #8EC5FC;
    background-image: linear-gradient(320deg, #8EC5FC 13%, #aed9d9 52%, #cafcfb 100%);
    margin-bottom: 6em;
    border: 0.3em solid black;    
}

#contenedorbotones {
    height: 6em;
    width: 19em;
    /* background-color: blue; */
    margin-top: 17em;
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.botoncito1 {
    height: 4.5em;
    width: 4.5em;
    background-color: #01a0fe;
    background-image: linear-gradient(346deg, #01a0fe 1%, #80D0C7 66%, #ffffff 100%);
    box-shadow: 1px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 50%;
    margin-bottom: 1em;
    border: 0.3em solid black;    
}
    
.botoncito2 {
    height: 4.5em;
    width: 4.5em;
    background-color: #01a0fe;
    background-image: linear-gradient(348deg, #01a0fe 1%, #80D0C7 66%, #ffffff 100%);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    border-radius: 50%;
    margin-top: 1em;
    border: 0.3em solid black;    
}
    
.botoncito3 {
    height: 4.5em;
    width: 4.5em;
    background-color: #01a0fe;
    background-image: linear-gradient(354deg, #01a0fe 1%, #80D0C7 66%, #ffffff 100%);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 50%;
    margin-bottom: 1em;
    border: 0.3em solid black;    
}
    
#contenedorojos {
    height: 4em;
    width: 19em;
    /* background-color: #F7CE68; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 3.6em;
}

#ojoderecho {
    height: 3.5em;
    width: 3.5em;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

#ojoizquierdo {
    height: 3.5em;
    width: 3.5em;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

#brilloojoderecho {
    height: 1.8em;
    width: 1.8em;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 0.5em;
}

#brilloojoizquierdo {
    height: 1.8em;
    width: 1.8em;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 0.5em;
}

#contenedornariz {
    height: 4em;
    width: 19em;
    /* background-color: #8768f7; */
    display: flex;
    justify-content:center;
    align-items: center;  
}

#nariz {
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.5em solid transparent;
	border-right: 1.5em solid transparent;
	border-top: 1.5em solid #010101;
    border-radius: 45%;
    margin-bottom: 4.5em;
}

#contenedorboca {
    height: 4em;
    width: 8em;
    /* background-color: #68f779; */
    display: flex;
    justify-content:center;
    align-items: center; 
}

#boca1 {
    width:3em; height:3em;  
     border:solid 0.4em #000;
     border-color:#000 black transparent transparent;
     border-radius: 50%/50%;
     rotate: 140deg;
     margin-bottom: 12em;
}

#boca2 {
    width:3em; height:3em;  
    border:solid 0.4em #000;
    border-color:#000 black transparent transparent;
    border-radius: 50%/50%;
    rotate: 130deg;
    margin-bottom: 12em;
    z-index: 5;
    margin-left: -0.5em;
}

#contenedormofletes {
    height: 4em;
    width: 17em;
    /* background-color: #e6171a; */
    display: flex;
    justify-content:space-between;
    align-items: center; 
}

#moflete1 {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffd0fc;
    background-image: linear-gradient(0deg, #fdc9f9 0%, #e29acf 57%, #f7b2f6 100%);
    margin-bottom: 18em;
    /* margin-left: 1em; */
} 

#moflete2 {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffd0fc;
    background-image: linear-gradient(0deg, #fdc9f9 0%, #e29acf 57%, #f7b2f6 100%);
    margin-bottom: 18em;
    /* margin-left: 2em; */
}

#internalear1 {
    height: 5em;
    width: 5.8em;
    border-radius: 54%/45% 55% 45% 45%;
    background: rgba(216, 37, 159, 0.739);
    rotate: -28deg;
    margin-left: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightinternalear1 {
    height: 3.5em;
    width: 4.2em;
    border-radius: 54%/50% 55% 45% 45%;
    background: rgb(255,211,241);
background: radial-gradient(circle, rgba(255,211,241,1) 0%, rgba(255,158,224,1) 80%);
    margin-top: 1.5em;
}

#internalear2 {
    height: 5em;
    width: 5.8em;
    border-radius: 54%/45% 55% 45% 45%;
    background: rgba(216, 37, 159, 0.739);
    rotate: 28deg;
    margin-left: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightinternalear2 {
    height: 3.5em;
    width: 4.2em;
    border-radius: 54%/50% 55% 45% 45%;
    background: rgb(255,211,241);
background: radial-gradient(circle, rgba(255,211,241,1) 0%, rgba(255,158,224,1) 80%);
    margin-top: 1.5em;
}
