* { 
    margin: 0;
    padding: 0;
    border: 0; 
}
    body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}


#contenedorcenter1 {
    height: 44em;
    width: 32em;
    display: flex;
    position: relative;
    background-color: rgb(182, 255, 194);
}

#contenedorcenter2{
    height: 44em;
    width: 32em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    background-color: rgb(8, 64, 17);
}

#contenedorcenter3 {
    height: 44em;
    width: 32em; 
    display: flex;
    position: relative;
    background-color: rgb(211, 129, 14);
}


#tamagotchibodydark {
    height: 31em;
    width: 28em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 64% / 70% 70% 52% 52%;
    background-color:  rgb(157, 42, 185);
    border: 0.3em solid black;
    z-index: 2;
}

#tamagotchibodylight {
    height:30em;
    width:27em;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 64% / 70% 70% 52% 52%;
    background-color: #ca73ca;
    background-image: linear-gradient(302deg, #ca73ca 0%, #dc97e1 50%, #fccefa 80%); 
    z-index: 5;
}

#contenedorear {
    height:8em;
    width: 32em;
    /* background-color:aqua; */
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    margin-bottom: 22em;
    z-index: 1;

}

 #leftear {
    height: 8em;
    width: 8em;
    border-radius:   54% / 43% 50% 50% 50%;
    background-color:  rgb(157, 42, 185);
    display: flex;
    position: relative;
    margin-bottom: 6em;
    border: 0.3em solid black;
}
   
.blankspace {
    height: 8em;
    width: 10em;
    /* background-color:rgb(51, 42, 185); */
    display: flex;

}
#rightear {
    height: 8em;
    width: 8em;
    border-radius: 54% / 50% 43% 50% 50%;
    background-color:  rgb(157, 42, 185);
    display: flex;
    position: relative;
    margin-bottom: 6em;
    border: 0.3em solid black;
    }


#contenedorsup2{
    height:8em;
    width: 32em;
    /* background-color:rgb(235, 20, 196); */
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 38em;
    z-index: 3;

} 

#rightearlight {
    height: 7em;
    width: 7.2em;
    border-radius:   64% / 50% 50% 50% 50%;
    /* background-color: #ca73ca; */
    background-color: #ca73ca;
background-image: linear-gradient(14deg, #ca73ca 0%, #dc97e1 11%, #fccefa 85%);
    
    
    display: flex;
    margin-top: 10.6em;
    margin-left: 1em;
    z-index: 4;
}
     
#leftearlight {
    height: 7em;
    width: 7.2em;
    border-radius:   64% / 50% 50% 50% 50%;
    /* background-color:  rgb(220, 137, 243); */
    background-color: #ca73ca;
background-image: linear-gradient(135deg, #ca73ca 0%, #dc97e1 11%, #fccefa 80%);

    display: flex;
    position: relative;
    margin-top: 10.6em;
    z-index: 4;
}

#pantalla1 {
    height: 14em;
    width: 19em;
    border-radius: 35%;
    background-color: #8081a1;
background-image: linear-gradient(0deg, #8081a1 0%, #8BC6EC 64%, #84e1f3 100%);

    margin-bottom: 6em;
    border: 0.3em solid black;
    
}